//responive sizes
$narrower    : 320px;
$narrow      : 400px;
$small       : 650px;
$medium      : 960px;
$wide        : 1200px;

//colors
$dark        : #000;
$lightDark   : #2e2e2e;
$light       : #fff;
$yellow      : #F5CA7D;
$orange      : #e17919;
$blue        : #10a9ff;
$body        : #232323;
$darkGray    : #4b4b4b;
$lightGray   : #747474;

//fonts
$baseFont      : 'Helvetica';
$headerFont    : 'courier_newbold', Arial, Helvetica, sans-serif;
$highlightFont : 'weltron', Arial, Helvetica, sans-serif;
$specialFont   : 'syncopatebold', Arial, Helvetica, sans-serif;
