<footer>
	<div id="copyRight" class="wrapper"><p><script type="text/javascript"> now=new Date(); year=now.getFullYear(); </script>&copy; <script type="text/javascript"> document.write(year);</script> Rhythm and the Method. All Rights Reserved. Web Design :: <a href="http://lswebpro.com" target="_blank">LSWebPRO.com</a></p></div>
</footer><!-- footer -->
