<ul id="socialTab">
	<li class="socialNav"><a class="icon-star-full" href="http://www.reverbnation.com/rhythmandthemethod" target="_blank"><span>reverbnation</span></a></li>
	<li class="socialNav"><a class="icon-youtube3" href="http://www.youtube.com/user/rhythmandthemethod" target="_blank"><span>youtube</span></a></li>
	<li class="socialNav"><a class="icon-facebook" href="https://www.facebook.com/RatMmusic" target="_blank"><span>facebook</span></a></li>
	<li class="socialNav"><a class="icon-twitter3" href="https://twitter.com/rhythmturner" target="_blank"><span>twitter</span></a></li>
	<li class="socialNav"><a class="icon-instagram" href="http://instagram.com/rhythmatm" target="_blank"><span>instagram</span></a></li>
</ul>